html {
    overflow: hidden;
    height: 100%;
}
select{
    text-align-last: center;
}

body {
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Nav */
nav {
    color: #eee;
    width: 100%;
    background-color: rgb(46, 46, 46);
    border-top: rgba(0, 0, 0, 0) 1px solid;
    border-bottom: black 2px solid;
    
    margin: 0px;
}

.nav-container {
    margin: 0 auto;
}

.nav-container ul {
    padding: 0 10px;
    margin: 12px 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-container li {
    margin:  0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-container a {
    position: relative;
    font-size: larger;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.nav-container a:hover{
    transform: scale(1.2);
}

/* Main */
#wrapper {
    background-color: #eee;
    position: relative;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 6px;
    z-index: 20;
    border: 2px rgba(17, 17, 17, 0.295) solid;
    filter: drop-shadow(0 4px 0.5rem #888);
}

#upperBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    z-index: 20;
}

#textBox {
    margin: 20px 0px;
}

header {
    margin: 20px;
}

h1 a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    padding-top: 10px;
}
button {
    margin-top: 4px;
    background-color: white;
    border-radius: 8px;
    border: black 2px solid;
    padding: 4px 20px 4px 20px;
}

.searchLabel {
    margin: 4px;
    max-width: 100%;
}

.formSelect {
    margin-top: 4px;
}

#lowerBar {
    z-index: 0;
}

/* Time Boxes */
.stationName {
    font-size: 32px;
    background-color: #eee;
    border-bottom: darkslategrey 2px solid;
    margin: 16px;
    padding: 8px;
    padding-bottom: 10px
}

.trainTimeBox {
    background-color: #eee;
    margin: 16px;
    position: relative;
    padding-bottom: 6px;
}

.trainTimeBox::after {
    content : "";
  position: absolute;
  left    : 30%;
  bottom  : 0;
  height  : 1px;
    width: 40%;
    border-bottom: rgba(47, 79, 79, 0.233) 2px solid;
}

.trainTimeBox h2 {  
    padding-left: 20px;
    padding-right: 20px;
}


.searchContainer {
    display: flex;
    justify-content: center;
}

.search {
    min-width: 200px;
    max-width: 200px;
    background-color: #eee;
    border: darkslategrey 2px solid;
    margin: 16px;
    border-radius: 6px;
    padding: 10px;
}

.search select {
    margin-top: 14px;
    width: 100%;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25px;
    background-color: rgb(109, 109, 109);
    margin-top: -8px;
    border-radius: 0 0 4px 4px;
    padding: 10px;
}

footer p {
    margin: 0;
}

footer p a {
    margin-bottom: 12px;
}