html {
    overflow: hidden;
    height: 100%;
}

body {
    text-align: center;
    background-color: rgb(67, 80, 82);
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#wrapper {
    background-color: rgb(136, 136, 136);
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 6px;
    z-index: 20;
}

#upperBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    z-index: 20;
}

#textBox {
    margin: 20px 0px;
}

header {
    margin: 20px;
}

h1 a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    padding-top: 10px;
}
button {
    margin-top: 4px;
    background-color: white;
    border-radius: 8px;
    border: black 2px solid;
    padding: 4px 20px 4px 20px;
}

.searchLabel {
    margin: 4px;
    max-width: 100%;
}

.formSelect {
    margin-top: 4px;
}

#lowerBar {
    z-index: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25px;
    background-color: rgb(109, 109, 109);
    margin-top: -8px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 6px;
    padding: 10px;
}

footer p {
    margin: 0;
}

footer p a {
    margin-bottom: 12px;
}

.trainTimeBox {
    background-color: rgb(140, 169, 173);
    border: darkslategrey 2px solid;
    margin: 16px;
    border-radius: 6px;
}
.trainTimeBox h2 {  
    padding-left: 20px;
    padding-right: 20px;
}

.stationName {
    font-size: 32px;
    background-color: rgb(140, 169, 173);
    border: darkslategrey 2px solid;
    margin: 16px;
    border-radius: 6px;
    padding: 8px
}

.searchContainer {  
    padding-left: 30%;
    padding-right: 30%;
}

.search {
    background-color: rgb(140, 169, 173);
    border: darkslategrey 2px solid;
    margin: 16px;
    border-radius: 6px;
    padding: 10px;
}

.search select {
    margin-top: 14px;
    width: 100%;
}

nav {
    color: white;
    width: 100%;
    background-color: rgb(46, 46, 46);
    border-top: rgba(0, 0, 0, 0) 1px solid;
    border-bottom: black 2px solid;
    
    margin: 0px;
}