

form(action="/trains" method='POST')  
    div
        label Please Enter Departure
            div
                select(name="departure")
                    option(value="Stratford DLR Station") Stratford DLR Station  
                    option(value="Stratford International DLR Station") Stratford International DLR Station
                    option(value="West Ham DLR Station") West Ham DLR Station    
    div 
        label Please Enter Arrival
            div
                select(name="arrival")
                    option(value="Stratford International DLR Station") Stratford International DLR Station   
                    option(value="Stratford DLR Station") Stratford DLR Station
                    option(value="West Ham DLR Station") West Ham DLR Station
    div
        button(type="submit") Search