doctype html
html(lang="en")
  head
    title DLR Tracker
    style
      include ../css/style.css
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
  body
    div 
      include navbar
    div#wrapper.flex-container
      div#upperBar
        include header.pug
        div#textBox
          block content
      div#lowerBar
        include footer.pug
    script
      include ../js/time.js