extends layout.pug

block content
    div
        if data
            div.stationName
                div Arriving at:
                div #{data[0][2]}
            if data.length !== 44
                each val in data
                    div.trainTimeBox
                        h2 The train to #{val[1]} will arrive at:    
                        div
                            h2#arrivalTime #{val[0]}
                                h2 This is in:
                                h3.countDown
            else
                h2#arrivalTime #{data}
        div
            include _search.pug

